.topnav {
    display: flex;
    justify-content: left;
    background-color: black;
}

html {
    background: black;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.abouthead {
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
}

.ahead {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 110px;
    font-weight: 350;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
    cursor: default;
}

.me {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    height: 200px;
    width: 200px;
    border-radius: 200px;
    -webkit-transition: all 1s ease;
}

.me:hover {
    filter: grayscale(100%);
    filter: gray;
    -webkit-filter: grayscale(100%);
    transition: 1s ease;
}

.aboutmain{
    display: flex;
    justify-content: space-around;
}

.twrite h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: inline-block;
    color: white;
    overflow: hidden;
    letter-spacing: 1px;
    animation: typing 3s steps(30, end), blink 0.75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 400;
    border-right: 4px solid dimgray;
    box-sizing: border-box;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: dimgray;
    }
}

.contactform {
    width: 330px;
    padding: 10px;
    background-color: #1b4f72;
    border-radius: 10px;
}

.contactform .clabel {
    margin: 15px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}



.topnav a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    padding: 4px 20px;
    color: white;
    border-radius: 10px;
}

.topnav a:hover {
    color: dimgray;
}

.topnav a.active {
    color: dimgray;
}

.sidenav a {
    position: fixed;
    right: -83px;
    transition: 250ms;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    border-radius: 10px 0 0 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#github:hover {
    right: -28px;
    color: dimgray;
}

#email:hover {
    right: -38px;
    color: dimgray;
}

#linkedin:hover {
    right: -15px;
    color: dimgray;
}

#github {
    top: 240px;
}

#linkedin {
    top: 310px;
}

#email {
    top: 380px;
}

span {
    display: inline-block;
    vertical-align: super;
}

.foot {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: darkslategray;
    color: white;
}

.spacer {
    height: 1400px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: lightsteelblue;
}

.app {
    text-align: center;
    margin-left: 20%;
}

.app .score {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 65px;
    padding: 20px;
}

.app .start-screen {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 600px;
    height: 600px;
    background: #73854a;
    border: 5px solid #2b331b;
    z-index: 1;
}

.app .start-screen h2 {
    font-size: 50px;
    margin: 0;
}

.app .start-screen button {
    border: 3px solid #2b331b;
    margin-top: 200px;
    height: 75px;
    background: none;
    cursor: pointer;
    color: inherit;
    outline: 0;
}

.app .start-screen button:hover,
.app .start-screen button.active {
    background: #2b331b;
    color: #728744;
}

.app .start-screen .options {
    margin-bottom: 40px;
}

.app .start-screen .options h3 {
    margin-bottom: 25px;
}

.app .start-screen .play-btn {
    font-size: 40px;
    padding: 5px 20px;
    text-transform: uppercase;
}

/* Game In Progress */
.app.game-in-progress .score {
    display: block;
}

.app.game-in-progress .start-screen {
    display: none;
}

/* Game Over */
.app.game-over canvas {
    opacity: 0.3;
}

/* @Credit: https://github.com/daneden/animate.css/ */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
