.topnav {
    display: flex;
    justify-content: left;
    background-color: black;
}

html {
    background: black;
    margin: 0;
    padding: 0;
}
.topnav a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    padding: 4px 20px;
    color: white;
    border-radius: 10px;
}

.topnav a:hover {
    color: dimgray;
}

.topnav a.active {
    color: dimgray;
}

.sidenav a {
    position: fixed;
    right: -83px;
    transition: 250ms;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    border-radius: 10px 0 0 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#github:hover {
    right: -28px;
    color: dimgray;
}

#email:hover {
    right: -38px;
    color: dimgray;
}

#linkedin:hover {
    right: -15px;
    color: dimgray;
}

#github {
    top: 240px;
    background-color: black;
}

#linkedin {
    top: 310px;
    background-color: black;
}

#email {
    top: 380px;
    background-color: black;
}

span {
    display: inline-block;
    vertical-align: super;
}

.foot {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: darkslategray;
    color: white;
}

.spacer {
    height: 1400px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: lightsteelblue;
}

.app {
    text-align: center;
}

.app .score {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 65px;
    padding: 20px;
}

.app .start-screen {
    position: absolute;
    width: 600px;
    height: 600px;
    background: #73854a;
    border: 5px solid #2b331b;
    z-index: 1;
}

.app .start-screen h2 {
    font-size: 50px;
    margin: 0;
}

.app .start-screen button {
    border: 3px solid #2b331b;
    background: none;
    cursor: pointer;
    color: inherit;
    outline: 0;
}

.app .start-screen button:hover,
.app .start-screen button.active {
    background: #2b331b;
    color: #728744;
}

.app .start-screen .options {
    margin-bottom: 40px;
}

.app .start-screen .options h3 {
    margin-bottom: 25px;
}

.app .start-screen .play-btn {
    font-size: 40px;
    padding: 5px 20px;
    text-transform: uppercase;
}

/* Game In Progress */
.app.game-in-progress .score {
    display: block;
}

.app.game-in-progress .start-screen {
    display: none;
}

/* Game Over */
.app.game-over canvas {
    opacity: 0.3;
}

/* @Credit: https://github.com/daneden/animate.css/ */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

